<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .SiteName }} - {{ .Nickname }}</title>
    <link rel="stylesheet" href="/asset/pico.min.css"{{ if .CSPNonce }} nonce="{{ .CSPNonce }}"{{ end }}>
    <link rel="stylesheet" href="/asset/filehole.css"{{ if .CSPNonce }} nonce="{{ .CSPNonce }}"{{ end }}>
    <script src="/asset/jquery-3.7.1.min.js"{{ if .CSPNonce }} nonce="{{ .CSPNonce }}"{{ end }}></script>
    <script src="/asset/filehole.js"{{ if .CSPNonce }} nonce="{{ .CSPNonce }}"{{ end }}></script>
  </head>
  <body>
    <main class="container">
      <section>
        {{ define "otherhole" }}
        <a href="{{ printf "%s" .PublicUrl }}">
          <article>
            <div>
              <p><b>{{ .Nickname }}</b></p>
              <p>{{ .UpstreamProvider }} - {{ .Region }}, {{ .Country }}</p>
            </div>
          </article>
        </a>
        {{ end }}
        <h1>{{ .SiteName }} - {{ .Nickname }}</h1>
        {{ if and .UpstreamProvider .Region }}
          <details>
          <summary><u>{{ .UpstreamProvider }} - {{ .Region }}, {{ .Country}}</u></summary>
            <p>Want to put it in a different hole?</p>
            <div class="grid">
              {{ range .OtherHoles }}
                {{ template "otherhole" . }}
              {{ end }}
            </div>
            <hr>
          </details>
        {{ end }}
        <p>CTRL + V to upload by paste</p>
      </section>
      <article>
        <section>
        <b>Settings</b>
        </section>
        <section class="nomargin">
          <form method="POST" enctype="multipart/form-data">
            <div class="grid">
              <div>
                <p>URL Length</p>
                <input id="urllen" type="number" name="url_len" min="5" max="236" value="5" aria-label="URL Length" />
                <small id="url-preview"></small>
              </div>
              <div>
                <p>Expiry Time</p>
                <select id="expiry" name="expiry">
                  <option value="3600">1 hour</option>
                  <option value="18000">5 hours</option>
                  <option value="86400" selected>1 day</option>
                  <option value="140400">39 hours</option>
                  <option value="172800">2 days</option>
                  <option value="248400">69 hours</option>
                  <option value="432000">5 days</option>
                </select>
              </div>
            </div>
            <noscript> 
              <div>
                <input type="file" name="file"></input>
                <input type="submit" value="Upload"></input>
              </div>
            </noscript>
          </form>
        </section>
      </article>
      <article id="upload-browse" class="needs-javascript"></article>
      <article id="file-queue" class="needs-javascript"></article>
      <article id="file-history" class="needs-javascript"> 
        <section>
          <b>History</b>
        </section>
        <section>
          <input id="history-optin" type="checkbox" role="switch"><span>Opt in to file history (uses localStorage)</span>
        </section>
        <section>
          <button id="clear-history">Clear History</button>
        </section>
        <section id="file-history-list">
        </section>
      </article>
      <noscript><small>Multiple file uploads, and storing history are unsupported without JavaScript.</small></noscript>
      <section>
        <small>Tired of putting your files in my hole? Put your files in your hole. <a href="https://github.com/fileholeorg/filehole">Github</a></small>
      </section>
    </main> 
  </body>
</html>
